
* {margin: 0; padding: 0; font-family: 'Noto Sans Kr', sans-serif;}

/* reset */
input {
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/* 전체 영역 */
.container {
    width: 100%;
    height: 100vh; /* 화면이 보여지는 영역에서 100% */
    background:
        radial-gradient(circle at 50% 0, rgba(255,0,0,0.5), rgba(255,0,0,0) 70%),
        radial-gradient(circle at 7% 75%, rgba(0,0,255,0.5), rgba(255,0,0,0) 70%),
        radial-gradient(circle at 93% 75%, rgba(0,255,0,0.5), rgba(255,0,0,0) 70%);
}

/* 로그인 영역 */
.login-wrap {
    /* 가로 세로 가운데 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: 600px;
    padding: 30px;
    border-radius: 10px;
    /* x축 위치 y축 위치 블러 색상 */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

/* inner */
#login {width: 100%; height: 100%;}

/* 로고 */
#login .login-logo {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#login .login-logo img {width: 100%; height: 200px; object-fit: cover;}

/* 아이디/비밀번호 */
#login .login-inputbox {
    position: relative;
    height: 50px;
    margin-bottom: 10px;
}

#login .login-inputbox input {
    width: 100%;
    height: 32px;
    padding-left: 5px;
    font-size: 1rem;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
}

#login .login-inputbox input::placeholder {
    color: #aaa;
}

#login .login-inputbox input ~ .border {
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 0;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
}

/* :focus
    - input 태그에 마우스 커서가 놓인 상태를 선택
 */

 #login .login-inputbox input:focus ~ .border {
     width: 100%;
     border-width: 1px;
     transition: width 0.5s;
     transition-timing-function: ease-in-out;
 }

 /* 아이디 저장/자동 로그인 */
 #login .login-remember {
     height: 30px;
     margin-bottom: 15px;
    text-align: center;
}

 #login .login-remember label {
     position: relative;
     padding-left: 25px;
     color: #aaa;
     cursor: pointer;
     margin-right: 15px;
 }

 #login .login-remember label input[type='checkbox'] {
     position: absolute;
     width: 0;
     height: 0;
     opacity: 0;
     cursor: pointer;
 }

 #login .login-remember label .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     width: 20px;
     height: 20px;
     background-color: #eee;
 }

 /* 체크 모양 */
 #login .login-remember label .checkmark:after {
     content: ''; /* 가상 선택자라서 content 필요 */
     position: absolute;
     top: 3px;
     left: 7px;
     width: 4px;
     height: 8px;
     border: solid white;
     border-width: 0 3px 3px 0; /* top right bottom left */
     transform: rotate(45deg);
 }

 /* :checked
    - 체크박스가 체크된 상태를 지정하는 선택자 */
#login .login-remember label input[type='checkbox']:checked ~ .checkmark {
    background-color: cornflowerblue;
}

#login .login-remember label input[type='checkbox']:checked ~ span {
    color: cornflowerblue;
}

/* 버튼 */
#login .login-btnbox {
    height: 50px;
    margin-bottom: 10px;
}

#login .login-btnbox .login-btn {
    display: block;
    background-color: cornflowerblue;
    color: white;
    font-size: 1.2rem;
    color: white;
    line-height: 50px;
    border-radius: 5px;
}

#login .login-btnbox .login-btn:hover {
    filter: brightness(90%);
}

/* 카피라이트 */
#login .copy {height: 15px; margin-top: 30px; margin-bottom: 10px;}
#login .copy p {font-size: 0.7rem; text-align: center;}