@charset "UTF-8";

/* TODO: 여기에 작성해보세요 */
/* 종속 선택자
    : table 태그이면서, class="first"인 요소를 선택 */
table.first {
    width: 100%;
    border-collapse: collapse;
    /* 이중실선 제거, 왜 없애면 스타일이 달라지는지? */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #aaa;
    /* 그림자 : x축, y축 블러 색상 */
}

table.first th {
    padding: 8px;
    background-color: rgb(51, 131, 255);
    color: #fff;
    letter-spacing: 3px;
}

/* th 태그 중에서 2번째 자식요소를 선택 */
table.first th:nth-child(2) {
    letter-spacing: 45px;
}

table.first td{
    padding: 10px;
    text-align: center;
}

/* td 태그 중 첫번째 자식요소를 선택 */
table.first td:first-child {width: 10%;}

/* td 태그 중 두번째 자식요소를 선택 */
table.first td:nth-child(2) {width: 70%;}

/* td 태그 중 마지막 자식요소를 선택 */
table.first td:last-child {width: 20%;}

/* 자식요소 중 홀수인 요소만 선택 */
/* TODO: 여기에 작성해보세요 */
table.first tr:nth-child(odd) {
    background-color: rgba(200,200,200, 0.7);
}

/* 자식요소 중 짝수인 요소만 선택 */
/* TODO: 여기에 작성해보세요 */
table.first tr:nth-child(even) {
    background-color: white;
}

/* TODO: 여기에 작성해보세요 */
table.first th,
table.first td {
    border-left: 1px solid #ccc;
}

/* :hover
    마우스가 요소에 올라가있는 상태 */
/* TODO: 여기에 작성해보세요 */
table.first tr:hover {
    background-color: #9d9dff;
    color: white;
    cursor: pointer;
}

/* :empty
    내용이 없는 상태
*/
/* TODO: 여기에 작성해보세요 */
p:empty{
    margin: 50px;
}

/* TODO: 여기에 작성해보세요 */
table.second {
    width: 100%;
    border-collapse: collapse;
}

table.second th{
    padding: 8px;
    background-color: orange;
    color: white;
    letter-spacing: 3px;
}

table.second th:nth-child(2) {
    letter-spacing: 45px;
}

table.second td {
    padding: 10px;
    text-align: center;
}

table.second td:first-of-type {width: 15%;}
table.second td:nth-of-type(2) {width: 65%;}
table.second td:last-of-type {width: 20%;}

/* 홀수 행만 */
table.second tr:nth-of-type(odd) {
    background-color: #ddd;
}

/* 짝수 행만 */
table.second tr:nth-of-type(even) {
    background-color: #fff;
}

/* 마우스 올렸을 때 */
table.second tr:hover {
    background-color: coral;
    color: white;
    cursor: pointer;
}


/* part1 : nth-of-type */
/* TODO: 여기에 작성해보세요 */
section.part1 div:first-of-type {
    background-color: cornflowerblue;
}

section.part1 div:last-of-type {
    background-color: coral;
}

section.part1 div:nth-of-type(2) {
    background-color: lightseagreen;
}

section.part1 div:nth-last-of-type(2) {
    background-color: mediumslateblue;
}

/* part2 : nth-child */
/* TODO: 여기에 작성해보세요 */
section.part2 div:first-child {
    background-color: cornflowerblue;
}

section.part2 div:last-child {
    background-color: coral;
}

section.part2 div:nth-child(2) {
    background-color: lightseagreen;
}

section.part2 div:nth-last-child(2) {
    background-color: mediumslateblue;
}

/* 태그 같을 땐 child로 선택, 특정 태그에 대해서는 type으로 선택
child는 자식요소 전체의 순서를 셈 */
