@charset "UTF-8";

/* 
    전체 선택자를 이용. 모든 선택자의 margin과 padding을 0으로 지정
    : 요소가 갖는 기본 여백을 제거
 */
 *{margin: 0; padding: 0;}
/* TODO: 여기에 작성해보세요 */
body {background-color: cornflowerblue;}

header {
    height: 85px;
    background-color: #f0f0f0;
    padding: 10px;
}

header h1 {
    float: left;
    font-size: 1.8rem;
    /* rem: html(루트) 요소에 대한 배율로 적용 */
}

header ul {float: right;}
header ul li {
    display: inline-block;
    list-style-type: none;
}

article {
    min-height: 500px;
}

article section {
    float: left;
    padding: 50px;
    background-color: white;
    width: 700px;
    min-height: 500px;
    box-sizing: border-box;
}

article aside {
    float: right;
    width: 200px;
    min-height: 500px;
    background-color: #fedd31;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;    /* width 크기를 최종 크기로 지정해줌 (원래는 240) */
}

footer{
    height: 10px;
    line-height: 10px;
    background-color: #c0dce7;
    padding: 20px;
    text-align: center;
}

/* 클래스 선택자 */
/* TODO: 여기에 작성해보세요 */
.container {
    width: 900px;
    margin: 0 auto;    /* 가운데 정렬 */

}


/* 종속선택자 */
/* TODO: 여기에 작성해보세요 */
/* h1 태그면서, 동시에 class 속성값이 'logo'인 요소를 선택한다. */
h1.logo {
    background: url(../img/logo.png) no-repeat center;
    background-size: cover;
    width: 220px;
    height: 70px;
    text-indent: -9999px;
    margin-left: 20px;
}