
.container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 200px;
    width: 1400px;
    border: 3px dashed orange;
    box-sizing: border-box;
}

.inner {text-align: center;}

.box {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
}

.item {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: royalblue;
    box-sizing: border-box;
    transition: all 1s;
    font-size: 20px;
}

.absolute {
    position: absolute;
    background-color: white;
    border: 2px dashed gray;
    top: 30px;
    left: 75px;
    z-index: -1;
}

/* scale(배율)
    0.0~1.0  : 배율의 크기만큼 축소
    1.0~X.0  : 배율의 크기만큼 확대
*/
.scale1:hover {transform: scale(2);}
.scale2:hover {transform: scaleX(2);}
.scale3:hover {transform: scaleY(2);}

/* 이미지 확대 박스 적용하기 */
.img-box {overflow: hidden;}

.img-box img {width: 100%; transition: all 0.5s;}

.img-box img:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}