
.container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 200px;
    width: 1400px;
    border: 3px dashed orange;
    box-sizing: border-box;
}

.inner {text-align: center;}

.box {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
}

.item {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: royalblue;
    box-sizing: border-box;
    transition: all 1s;
    font-size: 20px;
}

.absolute {
    position: absolute;
    background-color: white;
    border: 2px dashed gray;
    top: 30px;
    left: 75px;
    z-index: -1;
}

/* skew(deg)
    +deg: 각도만큼 시계방향으로 기울임
    -deg: 각도만큼 반시계방향으로 기울임
*/
.skew1:hover {transform: skew(45deg, 45deg);}
.skew2:hover {transform: skewX(45deg);}
.skew3:hover {transform: skewY(45deg);}