
.container {
    position: relative;
    width: 1200px;
    /* height: 800px; */
    border: 5px dashed orange;
    margin: auto;
}

section {
    /* interit: 부모 요소의 지정값을 물려 받아서 적용 */
    /* 부모요소: .container
        적용 값: auto */
    margin: inherit;
    width: 900px;
    height: 200px;
    border: 3px solid gray;
}