
.container {
    position: relative;
    width: 1024px;
    min-height: 500px;
    border: 5px dashed orange;
    margin: auto;
}

h1 {text-align: center;}

/* 
    clearfix
    - left, right를 적용한 부모요소의 :after에 clear 속성을 적용하여
    float 속성 이후 요소들에 미치는 영향을 제거한다.
*/
.inner:after {
    display: block;
    content: '';
    clear: both;
}

.item1 {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 10px solid #ccc;
    box-sizing: content-box;
}

.item2 {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 10px solid #ccc;
    box-sizing: border-box;
}

.left {float: left; background-color: pink;}
.right {float: right; background-color: lightblue;}
.next {background-color: cornflowerblue;}

.clear-left {clear: left;}
.clear-right {clear: right;}
.clear-both {clear: both;}