
.container {
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border: 1px dashed orange;
}

.tab-box {
    padding-bottom: 40px;
    width: 600px;
    background-color: white;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* label (탭) */
.tab-item {
    display: block;
    width: calc(100%/3);
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #333;
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease;
    background-color: #f8f8f8;
}

.tab-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

input[type='radio'] {display: none;}

/* 내용영역 */
.tab-content {
    padding: 40px;
    text-align: center;
    overflow: hidden;
    clear: both;
    display: none;
}

/* 
    1번 label 태그를 클릭
    -> 연결된 radio 버튼이 선택(checked)
    -> 형제자매요소인, 1번 내용 영역을 출력
*/

#tab1:checked ~ #tab1-content,
#tab2:checked ~ #tab2-content,
#tab3:checked ~ #tab3-content {
    display: block;
}

.tab-box input:checked + label /* 인접선택자 */ {
    background-color: #333;
    color: white;
}