
/* 
    이미지 슬라이드 1장 가로 사이즈: 1200px
    이미지 1200px X 3장 : 3600px
*/

section.slide {
    width: calc(1200*3px);
    position: relative;
    /* 슬라이드 애니메이션 */
    animation-name: slide;
    animation-delay: 5s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% {left: 0;}
    33% {left: -1200px;}
    66% {left: -2400px;}
    100% {left: 0;}
}

section.slide ul {
    list-style-type: none;
    position: absolute;
}

section.slide ul li {
    float: left; /* 가로 배치 */
    width: 1200px;
    height: 480px;
    box-sizing: border-box;
}

section.slide ul li img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}